.movies {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 100px;
}

.movies-title {
  margin-bottom: 30px;
}

.movies-title_mod {
  color: #b5b5b5;
}

.movies-watcheds {
  margin-bottom: 30px;
}